<body>
  <section id="banner">
    <div class="content">
      <header>
        <h1>About Me</h1>
        <p>Hi, I’m Gabriel<br/>
          I'm a Guitarist, TXTER, and Designer</p>
      </header>
      <p>I enjoy guitar and playing as a percussionist with the Youth Orchestra of Los Angeles. I also love creating websites, promotional videos, and music of my own.
        My passion is to help solve problems in our communities through technology and entrepreneurship. My personal goal is to create change in my community of Los Angeles and lead the future generation. I truly am inspired by those around me and enjoy learning new perspectives and build
        off other people's skills to create projects close to my heart.</p>
      <ul class="actions">
        <li><a href="https://www.linkedin.com/in/gabriel-conde-0b67a3207/" target="_blank" class="button big">My LinkedIn</a></li>
      </ul>
      
													<p><span class="image left"><img src="../../assets/Santana.png" alt="" /></span>I enjoy creating different projects that align with my hobbies like music and coding. I do covers of my most favorite songs that are tied
                            into the latina genre. My Oaxacan Culture is very important to me because I get to experience traditions such as danza and music.
                            </p><p>In Los Angeles, the community of Oaxaca is vast and is all over the city. When I'm by myself I practice guitar or
                            with my snare drum. I enjoy telling stories and helping
                            others create their own ways to display theirs.</p><p>If you want to collaborate on a project or if you just simply want to network contact me.</p>
													<p><span class="image right"><img src="../../assets/oaxaca.jpg" alt="" /></span><p>If you want me to design a website for you contact me. I am familiar with programs like Figma to design wireframes and logos.
                            I also have experience with using Wix for websites.</p>
    </div>
    <span class="image object">
      <img src="images/../../../assets/IMG_2420.jpg" alt="" />
    </span>
    
  </section>
  
 
  