<body>

  <div id="learn-guitar"class="container position-relative" data-aos="fade-up" data-aos-delay="500">
    <h1>Learn to Play Guitar Fast, Simple, and Easy</h1>
    <div class="text-center">
      <img id="guitar"src="../../assets/learn-guitar-theory-online-1-0001-0001.jpeg" class="rounded" alt="...">
    </div>
    <button id="learn-songs"type="button" class="btn btn-primary"><a href="oaxaca-article">Learn Songs</a></button>
   
  </div>
  <section id ="faq">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Wanna Start Playing?</h1>
      <p>All you need to start playing is passion and a guitar, and you'll pick the rest up as you go. On the topic of picks, if you want to play songs on guitar, you'll most likely need a guitar pick, a guitar strap to play comfortably, and a tuner. </p>
      <h3>Planning on playing live?</h3>
      <p>If you want to play an electric or electric acoustic guitar, get ready to jam! To start off, you'll needn your guitar, an amp, and a cable. As you grow as a guitarist you can start to get into effects and pedals to try cool sounds.</p>
    </div>
  </section>
<section id ="faq">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
    <h1>Frequently Asked Questions</h1>
    <h3>What do I need to learn guitar?</h3>
    <p>Besides your guitar and other accessories such as picks, straps, tuners, and spare strings, you'll need a cirriculum or set of books or any guitar tabs you would like to learn. Using a metronome is also very necessary to keep a steady tempo.</p>
    <h3>Does my guitar need to be tuned?</h3>
    <p>Your guitar must alway be properly tuned so all the chords and melodies sound good as you play. A vast variety of tuners can easily clip onto your guitar making it easy to tune.</p>
    <!-- <p>If you aren't sure how to tune your guitar, watch this quick video.</p> -->
  </div>
</section>

</body>
 
