<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>WELCOME TO MUSIC<br/>
        & GAMING UNITED</h1>
      <p>A passion project by Gabriel Conde</p>
    </header>
    <p>When creating an application that displays my passions, I knew that I had to hone in on music. When I was in middle school, I got my first guitar and my passion for music grew as I got older. At that same age, I was 
      growing and developing my passion for gaming. I am extremely passionate about music and gaming because it has given me self confidence to grow throughout my life.</p>
    <ul class="actions">
      <li><a href="https://gabriel-conde-website.netlify.app/" target="_blannk"class="button big">Visit my personal Website</a></li>
    </ul>
  </div>
  <span class="image object">
    <img src="../../assets/Website-Background.png">
  </span>
  
</section>
<section>
  <header class="major">
    <h2>WHY MUSIC IS SO SPECIAL TO ME</h2>
  </header>
  <div class="features">
    <article>
      <span class="icon brands fa-instagram"></span>
      <div class="content">
        <h3>Sharing My Music With Others</h3>
        <p>On social media platforms such as instagram and facebook, I share my own covers and collaborate with other musicians in my community. Through the use of social media, my passion for music is enhanced and allows me to view my growth as a musician. </p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-guitar"></span>
      <div class="content">
        <h3>Guitar is My Safespace</h3>
        <p>Nothing relaxes me the most than playing corridos or rock on guitar. I love being challenged, and when it comes to learning new songs and expanding my arsenal of songs, it can be a struggle. I use guitar to grow my music skills and my personality.</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-book"></span>
      <div class="content">
        <h3>Learning How to Learn</h3>
        <p>Music can be learned by anyone anywhere especially with the use of technology and resources like youtube. I have learned alot from researching music on my own, and being apart of bands and an orchestra. I truly have a passion for learning and have the ability to learn whatever type of music I want.</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-music"></span>
      <div class="content">
        <h3>Music is Everywhere</h3>
        <p>Music is what makes up a large portion of cultures and socities. It gives people feelings such as happiness, hope, and excitement. Creating</p>
      </div>
    </article>
  </div>
</section>

<section>
  <header class="major">
      <h1>GAMING AND MORE</h1>
    </header>
  <div class="features">
    <article>
      <div class="content">
        <h1>Minecraft & Starwars</h1>
        <iframe class="youtube-videos"width="540" height="345" src="https://www.youtube.com/embed/49_X8Y36cVw">
        </iframe>
      </div>
    </article>
    <article>
      
      <div class="content">
        <h1>Minecraft Lets Play</h1>
        <iframe class="youtube-videos"width="540" height="345" src="https://www.youtube.com/embed/dtUub4jTvg0">
        </iframe>
      </div>
    </article>
    <article>
      
      <div class="content">
        <h1>Besame Mucho | Guitar & Trombone Duet</h1>
        <iframe class="youtube-videos"width="540" height="345" src="https://www.youtube.com/embed/5c1ciPWFPrg">
        </iframe>
      </div>
    </article>
    <section>
      <header class="major">
        <h1>WANT MORE?</h1>
      </header>
      <div class="features">
        <article>
          <span class="icon brands fa-youtube"></span>
          <div class="content">
            <h3><a href="https://www.youtube.com/channel/UCtXoPas4yNq8S8VYyv9ZpRg" target="_blank">FIND ME ON YOUTUBE</a></h3>
          </div>
        </article>
      </div>
    </section>